<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Auth5 Registration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>

        <div>
            <h1 type="submit">welcome {{ user.username }}</h1>
        </div>
        <div>
            <h3>Input the Decentralized identifiers and record Ids of your Personal identifiable information</h3>
            <h4>Ensure READ access is granted to DID: </h4>
            <form method="post" id="create-group">
                {% csrf_token %}
                <input type="hidden" name="type" value="group">
                <h2>Groups</h2>
                <label for="websites">Select a group of fields:</label>
                <select name="groups" id="groups">
                    {% for group_name in field_group_names %}
                    <option value="{{group_name}}" {% if group_name == active_field_group.name %} selected="selected" {% endif %}>{{group_name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" form="create-group" value="Add a new group"> <input id="new_group" name="new_group" placeholder="Enter name of new group">
            </form>
            <form method="post" id="create-field">
                {% csrf_token %}
                <input type="hidden" name="type" value="field">
                <input type="hidden" name="group" value="{{active_field_group.id}}">
                <h2>Fields</h2> <button type="submit" form="create-field">Add a new field</button> <input id="new_field" name="new_field" placeholder="Enter name of new field">
            </form>
            {% for field in active_field_group.field_set.all %}
            <form method="post">
                {% csrf_token %}
                <h3> {{ field.name }} </h3> <button>Delete field</button> <button>Update modified field</button>
                <input type="hidden" name="name" value="{{ field.name }}">
                <input type="hidden" name="group" value="{{active_field_group.id}}">
                <label for="{{ field.name }}_did">DID </label> <input id="{{ field.name }}_did" name="did" value='{{ field.did }}'>
                <label for="{{ field.name }}_recordid">RECORD ID </label> <input id="{{ field.name }}_recordid" name="recordid" value='{{ field.recordid }}'>
                <label for="{{ field.name }}_auth">Authorize Auth5 user </label> <input id="{{ field.name }}_auth" name="auth" placeholder="Enter user's Auth5 Id">
            </form>
            {% endfor %}
        </div>
    </body>
    <script>
        // Get the form element
        var createGroupForm = document.getElementById('create-group');
    
        // Add an event listener for the 'change' event on the select element
        document.getElementById('groups').addEventListener('change', function() {
            // Submit the form when the selection changes
            document.getElementById('new_group').value = ''
            createGroupForm.submit();
        });
    </script>
</html>