<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Auth5</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'images/logo.png' %}" rel="icon">
  <link href="{% static 'images/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/landing.css' %}" rel="stylesheet">
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'images/logo.png' %}" alt="">
        <span>Auth5</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/account/website/login/">Website Account Login</a></li>
          <li><a class="nav-link scrollto" href="/account/login/">User Account Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Decentralization, Privacy, Data Security and Control</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We give you total and absolute control of your Personal Identifiable information on the internet</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start" style="margin-top: 10px;">
                <a href="/account/register"><button class="button-64" role="button"><span class="text">Get started as A web user</span></button></a>
                <a href="/account/website/register"><button class="button-64" role="button" style="margin-top: 10px;"><span class="text">Get started as A website owner</span></button></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'images/dec.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section><!-- End Hero -->
    <div class="container mt-5 mb-5">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img src="{% static 'images/welcome.jpg' %}" alt="Auth5 Logo" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h1 data-aos="fade-up">Welcome to Auth5</h1>
          <p class="lead">
            Explore the world of Auth5 with ease! Follow these simple steps to get started:
          </p>
          <ol class="lead">
            <li>Create your account on our platform.</li>
            <li>Click the button below:</li>
          </ol>
          <div class="text-center">
            <button class="button-64 mb-5" style="margin-top: 10px;"><span class="text">Sign up with Auth5</span></button>
          </div>
          <p class="lead">
            Let the magic unfold as we handle the intricacies behind the scenes. We'll guide you back to your chosen
            callback location with a unique digital ID. Safeguard this ID in your database – it's your digital fingerprint
            for effortless future logins.
            Embrace the digital journey with your trusty ID as your companion.
            Welcome to the future of hassle-free authentication!
          </p>
        </div>
      </div>
    </div>
    <div class="container mt-5 mb-5">
      <div class="row align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="{% static 'images/data.jpg' %}" alt="Data Access" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h1 data-aos="fade-up">Secure Data Access with Auth5</h1>
          <p class="lead">
            Safeguarding Personal Identifiable Information (PII) is our priority. Follow these steps to securely retrieve
            PII from your Auth5-authenticated users:
          </p>
          <ol class="lead">
            <li>For pages requiring PII, send a request to:</li>
          </ol>
          <div class="text-center">
            <button class="button-64 mb-5" style="margin-top: 10px;">
              <span class="text">Send PII Request</span>
            </button>
          </div>
          <p class="lead">
            The requesting user must be authenticated. We will validate if the data owner has granted access. If approved,
            we will fetch the data from the user's secure data vault and forward it to you. 
          </p>
        </div>
      </div>
    </div>



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>


