<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h2>Login</h2>

    <!-- Display errors if they exist -->
    {% if errors %}
        <ul style="color: red;">
            {% for key, value in errors.items %}
                <li>{{ key }}: {{ value|join:", " }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- login form -->
    <form id="loginForm" method="post">
        <!-- CSRF token -->
        {% csrf_token %}
        
        <label for="user_id">User Id:</label>
        <input id="user_id" name="username" required>

        <label for="id_password">Password:</label>
        <input type="password" id="password" name="password1" required>

        <button type="submit">Login</button>
    </form>

    <!-- <script>
        function submitLoginForm() {
            const email = document.getElementById('id_email').value;
            const password = document.getElementById('id_password').value;

            // Perform AJAX request to submit login form
            // Include CSRF token in the request headers

            // using Fetch API
            fetch("{% url 'login' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({ email, password }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json()
            .then(response => response.json())
            })
            .then(data => {
                // Handle the response, including storing tokens securely
                const refreshToken = data.refresh;
                const accessToken = data.access;

                // Store tokens securely, for example, in HTTP-only cookies or local storage
                localStorage.setItem('refreshToken', refreshToken);
                localStorage.setItem('accessToken', accessToken);

                // Redirect or update UI as needed
            })
            .catch(error => {
                // Handle error
                console.error('Error is:', error);
            });
        }
    </script> -->

</body>
</html>
