<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Auth5 Registration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>

        <div>
            <form method="post">
                {% csrf_token %}
                <label for="name">Website Name</label> <input id="username" name="username">
                <label for="link">Website URL</label> <input id="link" name="link">
                <label for="email">Website Email</label> <input id="email" name="email" type="email">
                <label for="password">Enter a password</label> <input id="password" name="password" type="password">
                <button type="submit">Request for a new Auth5 website account</button>
            </form>
        </div>
        <p>{{user_form_errors}}</p>
        <p>{{url_form_errors}}</p>
        <div>
            <p>Already have an Auth5 wbsite account?</p>
            <a href="/account/website/login/">Click here to login</a>
        </div>
    </body>
</html>