<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href='{% static "css/login.css" %}' />
</head>

<body>
    <div class="wrapper">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="">
        </div>
        <div class="text-center mx-auto mt-4 name" style="padding-left: 37%;">Auth5</div>
        <div class="text-center fs-6">
            An error occured: {{error}}
        </div>
    </div>
</body>

</html>