<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "css/login.css" %}'
    />
</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt=""> 
        </div>
        <div class="text-center mx-auto mt-4 name" style="padding-left: 37%;">Auth5</div>
        <h2>Registration Successful</h2>
        <p>Congratulations! You have successfully registered.</p>
        <p>Your Id is <h3>{{ username }}</h3> and your authentication token is <h3>{{ password }}</h3></p>
        <a href="/authentication/{{website_name}}/"><button class="btn mt-3" style="margin-top: 70px;">Return to login</button></a>
    </div>
</body>
</html>