<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "css/login.css" %}'
    />
</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt=""> 
        </div>
        <div class="text-center mx-auto mt-4 name" style="padding-left: 37%;">Auth5</div>
        <form class="p-3 mt-3" id="loginForm" method="post">
            <!-- CSRF token -->
            {% csrf_token %}
            <input type="hidden" name="website_name" value="{{website_name}}">
            <button class="btn mt-3" style="margin-top: 70px;">Request for a new Auth5 account</button>
        </form>
        <div class="text-center fs-6" style="margin-top: 20px;">
           <p> Do you have an Existing Auth5 account? </p><a href="/authentication/{{website_name}}">Click here to Sign in</a>
        </div>
    </div>
</body>
</html>