<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
<body>
    <h1>Welcome to Decentralized Social</h1>
    <p>This app was created to serve as a sample of Auth5 integration. It has web pages to view user profiles containing their Personal Identifiable information</p>
    <p>To view A user's PII, you must be permitted by the PII owner on Auth5 to view that particular PII</p>
    <p>The PII owner grants you permission using your Auth5 User Id</p>
    <a href="https://decentralizedsocial.pythonanywhere.com/login/">Click here to log in using auth5</a>
    <p>On successful login, you will be redirected to your profile</p>
</body>
</html>