<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f5f5;
            color: #333;
            margin: 20px;
        }

        h1 {
            color: #795548;
        }

        p {
            color: #795548;
            margin-bottom: 10px;
        }

        a {
            color: #8d6e63;
        }

        a:hover {
            color: #5d4037;
        }

        ul {
            list-style-type: disc;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
            color: #795548;
        }

        span {
            font-weight: bold;
            color: #795548;
        }
    </style>
</head>
<body>
<h1>Welcome to Decentralized Social</h1>
    <p>This app was created to serve as sample of <span>Auth5</span> integration as a third party authentication system. It has web pages to view user profiles containing their Personal Identifiable information</p>
    <p>To view A user's PII, you must either be the owner of the PII or be permitted by the PII owner on <span>Auth5</span> to view that particular PII</p>
    <p>The PII owner grants you permission using your <span>Auth5</span> User Id</p>
    <a href="/login/" target=”_blank”>Click here to authenticate into decentralized social using <span>Auth5</span></a>
    <p>On successful login, you will be redirected to your profile on decentralized social</p>
    <p>The values you see for the PII fields on your profile will be the data stored in your DWN.</p>
    <p>This data is accessed using the DID and and recordIds you specify for each field on your <span>Auth5</span> dashboard</p>
    <p><a href="/userprofile/9b906484-63d6-47cd-b95f-6d7028cf4036/" target=”_blank”>Click here to view my profile.</a> You can't view my details with your present <span>Auth5</span>
    account because I didn't authorize you on my dashboard.</p>
    <p>Try logging in with user id: <span>dff0f6a7-2e42-49c1-ba14-f14413408cff</span> and authentication token: <span>gn9Z1foDFin6F2Kly26W9g</span></p>
    <p>Then view my profile once again</p>
    <p>My Personal Identifiable Information will be visible on this account becasue on my <span>Auth5</span> account dashboard, I authourized the User with this User Id to view each of these fields </p>
    <h2>To test this yourself </h2>
    <ul>
        <li><a href="https://auth5-if1y.onrender.com/" target=”_blank”>Create a new <span>Auth5</span> user account</a> and save your acount credentials</li>
        <li>Store data containing the value of each field on your <span>Auth5</span> dashboard on your DWN</li>
        <li>Copy and paste the respective DID's and record Id's of each data on the DID and recorId input sections for each respective field on your <span>Auth5</span> dashboard</li>
        <li>Using your newly created account, Login once again into decentralized social<a href="/login/" target=”_blank”> Click here to login to decentralized social</a></li>
        <li>You will be redirected to your profile on decentralized social. You should be able to see your respective details because you are the data owner</li>
        <li>store the url of your profile</li>
        <li>Log into decentralized social using these fields: user_id: <span>dff0f6a7-2e42-49c1-ba14-f14413408cff</span> and authentication_token: <span>gn9Z1foDFin6F2Kly26W9g</span>
        <a href="/login/" target=”_blank”>Click here to login to decentralized social</a></li>
        <li>Using the stored url of your profile, View your profile once again</li>
        <li>You won't be able to view your profile details because you didn't authorize this account to view your personal identifiable information on <span>Auth5</span></li>
        <li>Head back to your <span>Auth5</span> dashboard and add this user_id:<span>dff0f6a7-2e42-49c1-ba14-f14413408cff</span> to the authorized users for any field you would like to give the user with this User Id access to view</li>
        <li>reload your profile on <span>Auth5</span> (ensure you are still logged into this account user_id:<span>dff0f6a7-2e42-49c1-ba14-f14413408cff</span>, authentication_token:<span>gn9Z1foDFin6F2Kly26W9g</span>)</li>
        <li>Now, you will be able to view data for any field you authorized the user you are currently logged in as to view.</li>
    </ul>
</body>
</html>
