<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link
        rel="stylesheet"
        type="text/css"
        href='{% static "bootstrap/css/bootstrap.css" %}'
        />
        <link
        rel="stylesheet"
        type="text/css"
        href='{% static "assets/css/style.css" %}'
        />

        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <div class="main-body">
            
                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb" class="main-breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                </nav>
                <!-- /Breadcrumb -->
            
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                            <h4>John Doe</h4>
                            <p class="text-secondary mb-1" id="occupation">Full Stack Developer</p>
                            <p class="text-muted font-size-sm" id="address2">Bay Area, San Francisco, CA</p>
                            <button class="btn btn-primary">Follow</button>
                            <button class="btn btn-outline-primary">Message</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary" id="full_name">
                                    Kenneth Valdez
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary" id="email">
                                    fip@jukmuh.al
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                    <h6 class="mb-0">Phone number</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary" id="phone_number">
                                    (239) 816-9029
                                    </div>
                                </div>
                                <hr>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary" id="address">
                                    Bay Area, San Francisco, CA
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Replace 'your_token_here' with your actual authorization token
            // const authToken = '{{user.profile.token}}';

            // Define the data to be sent in the request body
            const requestBody = {
            fields: ['first_name', 'last_name', 'date_of_birth', 'occupation', 'email', 'address', 'phone_number']
            };

            // Make the fetch API request
            fetch('https://auth5.pythonanywhere.com/fetch/decentralizedsocial/{{user.username}}/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(requestBody)
            })
            .then(response => {
                if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                // Handle the response data
                console.log('Response:', data);
                fields_data = data.response_content
                // document.getElementById('first_name').innerHtml = fields_data.first_name
                // document.getElementById('last_name').innerHtml = fields_data.last_name
                document.getElementById('address').innerHtml = fields_data.address
                document.getElementById('address2').innerHtml = fields_data.address
                document.getElementById('occupation').innerHtml = fields_data.occupation
                document.getElementById('date_of_birth').innerHtml = fields_data.date_of_birth
                document.getElementById('phone_number').innerHtml = fields_data.phone_number
                document.getElementById('email').innerHtml = fields_data.email
                document.getElementById('full_name').innerHtml = fields_data.first_name + fields_data.last_name
            })
            .catch(error => {
                // Handle errors
                console.error('Error:', error.message);
            });
        </script>
    </body>
</html>
