<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <script>
            // Replace 'your_token_here' with your actual authorization token
            // const authToken = '{{user.profile.token}}';

            // Define the data to be sent in the request body
            const requestBody = {
            fields: ['first_name', 'last_name', 'date_of_birth', 'occupation', 'email', 'address', 'phone_number']
            };

            // Make the fetch API request
            fetch('https://auth5-if1y.onrender.com/fetch/decentralizedsocial/{{user.username}}/{{profile_owner.username}}/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(requestBody)
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(errorData => {
                    const errorMessage = `HTTP error! Status: ${response.status} Response: ${JSON.stringify(errorData)}`;
                    console.error(errorMessage);
                    throw new Error(errorMessage);
                    });
                }
                return response.json();
            })
            .then(data => {
                // Handle the response data
                console.log('Response:', data);
                fields_data = data.response_content
                if (fields_data.address) {
                    document.getElementById('address2').innerHTML = fields_data.address
                    document.getElementById('address1').innerHTML = fields_data.address
                } else {
                    document.getElementById('address2').innerHTML = 'null field'
                    document.getElementById('address1').innerHTML = 'null field'
                }

                if (fields_data.occupation) {
                    document.getElementById('occupation').innerHTML = fields_data.occupation
                } else {
                    document.getElementById('occupation').innerHTML = 'null field'
                }
                if (fields_data.phone_number) {
                    document.getElementById('phone_number').innerHTML = fields_data.phone_number
                } else {
                    document.getElementById('phone_number').innerHTML = 'null field'
                }
                if (fields_data.email) {
                    document.getElementById('email').innerHTML = fields_data.email
                } else {
                    document.getElementById('email').innerHTML = 'null field'
                }
                if (fields_data.first_name && fields_data.last_name && fields_data.first_name !== 'Unauthorized' && fields_data.last_name !== 'Unauthorized') {
                    document.getElementById('full_name').innerHTML = fields_data.first_name + ' ' + fields_data.last_name
                    document.getElementById('full_name2').innerHTML = fields_data.first_name + ' ' + fields_data.last_name
                } else if(fields_data.first_name === 'Unauthorized' || fields_data.last_name === 'Unauthorized') {
                    document.getElementById('full_name').innerHTML = 'Unauthorized'
                    document.getElementById('full_name2').innerHTML = 'Unauthorized'
                } else {
                    document.getElementById('full_name').innerHTML = 'null field'
                    document.getElementById('full_name2').innerHTML = 'null field'
                }
            })
            .catch(error => {
                // Handle errors
                console.error('Error:', error.message);
            });
        </script>
        <link
        rel="stylesheet"
        type="text/css"
        href='{% static "bootstrap/css/bootstrap.css" %}'
        />
        <link
        rel="stylesheet"
        type="text/css"
        href='{% static "assets/css/style.css" %}'
        />

        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <div class="main-body">

                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb" class="main-breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                </nav>
                <!-- /Breadcrumb -->

                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                            <h4 id="full_name2">Awaiting data</h4>
                            <p class="text-secondary mb-1" id="occupation">Awaiting data</p>
                            <p class="text-muted font-size-sm" id="address2">Awaiting data</p>
                            <button class="btn btn-primary">Follow</button>
                            <button class="btn btn-outline-primary">Message</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary" id="full_name">
                                    Awaiting data
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary" id="email">
                                    Awaiting data
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                    <h6 class="mb-0">Phone number</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary" id="phone_number">
                                    Awaiting data
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary" id="address1">
                                    Awaiting data
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
